lxml==4.5.1
python-dateutil==2.8.1
pytz==2020.1
boto3==1.14.16
bigquery-schema-generator==1.0
apache-airflow[crypto,celery,postgres,hive,jdbc,ssh]==1.10.10
dask[complete]==2.18.0
distributed==2.18.0
google-cloud-bigquery==1.24.0
six==1.15.0
