lxml==4.6.3
python-dateutil==2.8.1
pytz==2021.1
boto3==1.17.72
bigquery-schema-generator==1.4
cattrs==1.0.0
cloudpickle==1.4.1
apache-airflow[crypto,celery,postgres,jdbc,ssh]==1.10.13
dask[complete]==2021.2.0
distributed==2021.2.0
google-cloud-bigquery==2.16.1
six==1.16.0
