lxml==4.6.1
python-dateutil==2.8.1
pytz==2020.1
boto3==1.16.15
bigquery-schema-generator==1.2
cloudpickle==1.4.1
apache-airflow[crypto,celery,postgres,jdbc,ssh]==1.10.12
dask[complete]==2.30.0
distributed==2.30.0
google-cloud-bigquery==2.0.0
six==1.15.0
